*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

img{
  max-width: 100%;
}

input{
  border: none;
  outline: none;
  padding: 10px 14px;
  font-family: inherit;
  color: #222;
}

#root{
  min-height: 100vh;
}

:root{
  --mediumPurple: #667ffe;
  --purple: #9755f3;
  --blue: #37acfc;
  --green: #56f8bc;
  --black: #2b2e3d;
  --mediumBlue: #354057;
  --darkBlue: #2b2e3d;
  --gray: #a4b1c4;
  --white: #eee;
}



